body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.multiselect {
  width: 90%;
  margin-top: 100%;
  right: 15;
  position: absolute;
}

.selectBox {
  position: absolute;
  width: 100%;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: white;
}
#signup{
	border-style: solid;
	position: relative;
	border-color: transparent;
	margin-left: 38%;
	margin-top: 7%;
	height: 430px;
	width: 250px;
	background-color: #1225;
	border:2px solid #ccc;
	border-radius: 10px;
	border:2px solid #ccc;
	padding:10px 40px 25px;
}
#fname{
	position: absolute;
	width: 90%;
	height: 8%;
	border-radius: 5px;
	left: 5%;
}
#lname{
	position: absolute;
	margin-top: 15%;
	left: 5%;
	height: 8%;
	border-radius: 5px;
	width: 90%;
}
#emailid{
	position: absolute;
	margin-top: 30%;
	left: 5%;
	border-radius: 5px;
	height: 8%;
	width: 90%;
}
#password{
	position: absolute;
	margin-top: 45%;
	left: 5%;
	width: 90%;
	height: 8%;
	border-radius: 5px;
}
#repassword{
	position: absolute;
	margin-top: 60%;
	left: 5%;
	height: 8%;
	width: 90%;
	border-radius: 5px;
}
#city{
	position: absolute;
	margin-top: 75%;
	left: 5%;
	height: 8%;
	width: 90%;
	border-radius: 5px;
}
#contact{
	position: absolute;
	margin-top: 90%;
	left: 5%;
	height: 8%;
	width: 90%;
	border-radius: 5px;
}
.submit{
	position: absolute;
	margin-top: 120%;
	left: 5%;
	height: 8%;
	width: 90%;
	border-radius: 5px;
}

